{% extends "base.html" %}
{% block title %}Authors{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
    {% for author in authors %}
	<div data-role="collapsible">
        	<h3>{{authors[author].name}}</h3>
		<p>No of Co-Author:{{authors[author].co_authors | length}}</p>
		

		{% for publication in authors[author].publications %}
			<p>{{ publication.replace("_"," ").title() }}:{{authors[author].publications[publication] | length}}</p>
		{% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
