{% extends "base.html" %}
{% block title %}Authors{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}


{# a function that takes a Publication and displays its authors in the li #}
{% macro showAuthors(CurrentPublication) -%}
	<ul>
		{% for author in CurrentPublication.authors %}
			<li>{{ author.name }}</li>
		{% endfor %}
        <ul>
{%- endmacro %}

<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
    {% for book in books %}
	<div data-role="collapsible">
        	<h3>{{books[book].title}}</h3>
        	<h3>Year:{{books[book].year}}</h3>
        	<h3>ISBN:{{books[book].isbn}}</h3>
        	<h3>Publisher:{{books[book].publisher}}</h3>
		<h3>Authors:</h3>
        	{{showAuthors(books[book])}}
	
	</div>
    {% endfor %}
    {% for article in articles %}
        <div data-role="collapsible">
                <h3>{{articles[article].title}}</h3>
                <h3>Year:{{articles[article].year}}</h3>
                <h3>Authors(<a href="\{{articles[article].title}}\authors">View Author Details</a>):</h3>
        	{{showAuthors(articles[article])}}
		
	</div>
    {% endfor %}
</div>
{% endblock %}
